
  <p-confirmdialog />
  <div class='demo-app'>
  <p-toast position="bottom-right" key="br" />
  <div class='demo-app-sidebar'>
    <div class='demo-app-sidebar-section'>

      <h2>Instruções</h2>
      <ul>
        <li>Selecione as datas e você será solicitado a criar um novo evento.</li>
        <li>Arrastar, soltar e redimensionar eventos</li>
        <li>Clique em um evento para excluí-lo.</li>
      </ul>
      <div class="card flex justify-center">
         <p-button (click)="showMostrarFormData()" icon="pi pi-plus" label="Novo lançamento avulso" severity="help" styleClass="min-w-40" styleClass="w-full">
          
         </p-button>
      </div>
    </div>

    <div class='demo-app-sidebar-section'>
      <label class="form-check-label">
        <input
          type='checkbox'
          [checked]='calendarVisible()'
          (change)='handleCalendarToggle()'
          class="form-check-input"
        />
        alternar todo o calendário
      </label>
    </div>
    <div class='demo-app-sidebar-section'>
       <label class="form-check-label">
        <input
          type='checkbox'
          [checked]='calendarOptions().weekends'
          (change)='handleWeekendsToggle()'
           class="form-check-input"
        />
        alternar fins de semana
      </label>
    </div>
 <div class="demo-app-sidebar-section flex flex-column h-full">

  <h2 class="mb-3">
    Todos os eventos ({{ currentEvents().length }})
  </h2>

  <!-- LOADING -->
  @if (loading) {
    <div class="flex justify-center align-items-center flex-1">
      <p-progress-spinner
        strokeWidth="6"
        fill="transparent"
        animationDuration=".7s"
        [style]="{ width: '40px', height: '40px' }">
      </p-progress-spinner>
    </div>
  }

  <!-- LISTA -->
  @else {

    @if (currentEvents().length === 0) {
      <div class="flex justify-center align-items-center flex-1 text-500">
        Nenhum evento encontrado
      </div>
    }

    @else {
      <ul class="list-group flex-1 overflow-auto m-0 p-0" style="max-height: 500px; overflow-y: auto;">
        @for (item of currentEvents(); track $index) {
          <li class="list-group-item cursor-pointer hover:bg-gray-100 transition-duration-200">
            
            <div class="flex flex-column">
              <span class="text-sm text-600">
                {{ item.startStr | date: 'dd/MM/yyyy' }}
              </span>

              <span class="font-medium">
                {{ item.title }}
              </span>
            </div>

          </li>
        }
      </ul>
    }

  }

</div>
  </div>

  <div class='demo-app-main'>
    @if (calendarVisible()) {
    <full-calendar [options]='calendarOptions()'>
<ng-template #eventContent let-arg>
  <div class="evento-card">
    
    <div class="evento-hora">
      {{ arg.timeText }}
    </div>

    <div class="evento-titulo">
      {{ arg.event.title }}
    </div>

    <div class="evento-cliente">
    <i class="pi pi-user" style="font-size: 0.7rem"></i> {{ arg.event.extendedProps.nm_cliente }}
    </div>

    <div class="evento-cliente-telefone">
       <i class="pi pi-mobile" style="font-size: 0.7rem"></i>  {{ arg.event.extendedProps.telefone_cliente }}
    </div>

  </div>
</ng-template>
    </full-calendar>
    }

  </div>

</div>

<p-dialog header="Novo Evento" [(visible)]="mostrarModal" [modal]="true" [style]="{width: '400px'}">
  
  <form [formGroup]="formEvento">
    
    <div class="field">
      <label>Título</label>
      <input pInputText formControlName="title" class="w-full"/>
    </div>
    @if (mostrarData == true) {
          <div class="field mt-3">
          <label for="buttondisplay" class="font-bold block mb-2">Data</label>
          <p-datepicker  [showIcon]="true" inputId="buttondisplay" [showOnFocus]="false" formControlName="start"/>
          </div>
    }
    <div class="field mt-3">
      <label>Cliente</label>
      <input pInputText formControlName="nm_cliente" class="w-full"/>
    </div>
    <div class="field mt-3">
      <label>Vendedor</label>
      <input pInputText formControlName="nm_vendedor" class="w-full"/>
    </div>
    <div class="field mt-3">
      <label class="font-bold block mb-2">Telefone</label>
      <p-inputmask mask="(99) 99999-9999"  formControlName="telefone_cliente" placeholder="(99) 99999-9999" class="w-full" />
    </div>
    <div class="field mt-3">
      <label>Email</label>
      <input pInputText formControlName="email" class="w-full"/>
    </div>

    <div class="field mt-3">
      <label>Cor</label>
      <p-colorpicker inputId="cp-hex" class="w-full"[defaultColor]="color" [inline]="true" formControlName="backgroundColor"/>
    </div>

    

  </form>

  <ng-template pTemplate="footer">
    <button pButton label="Cancelar" (click)="mostrarModal=false"></button>
    <button pButton label="Salvar" [loading]="loadingSave" (click)="salvarEvento()" [disabled]="formEvento.invalid"></button>
  </ng-template>

</p-dialog>


<p-dialog 
  header="Detalhes do Evento" 
  [(visible)]="mostrarModalEvento" 
  [modal]="true" 
  [style]="{width: '400px'}">

  <div *ngIf="eventoSelecionado">

    <div class="mb-2">
      <strong>Título:</strong>
      <div>{{ eventoSelecionado.title }}</div>
    </div>

    <div class="mb-2">
      <strong>Data:</strong>
      <div>{{ eventoSelecionado.start | date:'dd/MM/yyyy HH:mm' }}</div>
    </div>

    <div class="mb-2">
      <strong>Cliente:</strong>
      <div>{{ eventoSelecionado.extendedProps?.nm_cliente }}</div>
    </div>
    <div class="mb-2">
      <strong>Telefone:</strong>
      <div>{{ eventoSelecionado.extendedProps?.telefone_cliente }}</div>
    </div>
    <div class="mb-2">
      <strong>E-mail:</strong>
      <div>{{ eventoSelecionado.extendedProps?.email }}</div>
    </div>

    <div class="mb-2">
      <strong>Vendedor:</strong>
      <div>{{ eventoSelecionado.extendedProps.nm_vendedor }}</div>
    </div>

  </div>

  <ng-template pTemplate="footer">
    <button 
      pButton 
      label="Fechar" 
      icon="pi pi-times"
      class="p-button-text"
      (click)="mostrarModalEvento = false">
    </button>

    <button 
      pButton 
      label="Excluir" 
      icon="pi pi-trash"
      [loading]="loadingSave"
      severity="danger"
      (click)="confirmarExclusao()">
    </button>
  </ng-template>

</p-dialog>